  <%= turbo_frame_tag "login_signup_frame" do %>
  <%# <h2>Login</h2> %>
  <div class="text-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field input-group my-2">
        <i class="fa-regular fa-at input-group-text"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "form-control", placeholder: "Email"
        %>
      </div>

      <div class="field input-group my-2">
        <%= f.password_field :password, autocomplete: "current-password",
            class: "form-control", placeholder: "Password"
        %>
        <i class="fa-regular fa-eye-slash fa-2xs input-group-text"
           data-controller="login"
           data-action="click->login#visibility"
          ></i>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in"%>
      </div>
    <% end %>   
  </div>

  <% end %>
  <%= render "users/shared/links" %>
