<%= turbo_frame_tag "admin_dash" do %>

    <%= link_to 'Back', admin_path %>
    <div class="table-responsive">
        <table class="table table-striped table-sm align-middle">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Requested</th>
                    <th scope="col">Approve?</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            <% @users.each do |user| %>
                <tr id=<%= dom_id(user)%>>
                    <td><%= user.email %></td>
                    <td class="small"><%= "#{time_ago_in_words user.confirmed_at} ago" %></td>
                    <td>
                        <%= button_to "Approve", user_approve_path(user.id), method: :patch, class: "btn btn-sm btn-outline-success" %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
<% end %>