<div class="my-2">
    <% unless data.nil? || data == 'No data found' %>
        <h4>
            <%= data["symbol"] %>: 
        </h4>
            <% price = data["prices"].sample %>
            <div class="mb-1">
                Current Market Price: $ <%= price %> <br>
                52-week High: $ <%= data["yearHigh"] %> <br>
                52-week Low: $ <%= data["yearLow"] %> <br>
                previousClose: $ <%= data["previousClose"] %>
            </div>
            <br>
            <% if current_user.approved? && price != nil %>
                <%= render partial: 'pages/transact_form', locals: { key: data["symbol"], price: price} %>
            <% end %>
    <% else %>
        <div>
        Invalid Stock or Stock doesn't exist. 
        </div>
    <% end %>
</div>