<div id="transaction-form" class="bgc-air p-3 rounded border">
    <% unless user_poor?(price, key) %>
    <%= form_with(model: current_user.transactions.new, url: transactions_path, method: "post") do |f| %>
        <%= f.hidden_field :symbol, value: key %>
        <%= f.hidden_field :price, value: price %>
        <div class="row">
            <div class="mb-3 font-robo col-6">
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input id="userCash" type="text" class="form-control" value="<%= number_with_precision(current_user.cash, precision: 2) %>" disabled readonly>
                        <label>Cash</label>
                    </div>
                </div>
            </div>

            <% if current_user.stocks.not_zero.exists?(symbol: key) %>
            <div class="mb-3 font-robo col-6">
                <div class="input-group">
                    <div class="form-floating">
                        <input id="userShare" type="text" disabled readonly class="form-control" value="<%= pluralize(get_share_quantity(key), 'shre') %>">
                        <label><%= key %></label>
                    </div>
                    <span class="input-group-text"><%= average_buy_price(current_user.stocks.find_by(symbol: key)) %></span>

                </div>
            </div>
            <% end %>
        </div>
        <div class="row" data-controller="transact-input">
            <div class="col-6 mx-auto d-flex justify-content-center align-items-center">
                <button type="button" class="btn custom-btn" id="subBtn" data-action="click->transact-input#subQuantity">-</button>
                <%= f.number_field :quantity, required: true, class: "form-control-plaintext pe-none user-select-none text-center fs-3" %>
                <button type="button" class="btn custom-btn" id="addBtn" data-action="click->transact-input#addQuantity">+</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto d-flex justify-content-center gap-2">
                <% if current_user.cash > price %>
                    <%= f.submit "Buy", class: "btn custom-btn", id: 'buyBtn', disabled: true %>
                <% end %>
                <% if current_user.stocks.not_zero.exists?(symbol: key) %>
                    <%= f.submit "Sell", class: "btn custom-btn", id: 'selBtn', disabled: true %>
            </div>
        <% end %>
        </div>
    <% end %>
    <% else %>
    <div class="text-center fs-3 fw-semibold font-mont">
        <img src="<%= memegen_images.generate(template_id: "gone", text: ["Yeah... your assets?", "it's gone."])%>" alt="memes for the boys" class="img-fluid">
    </div>
    <% end %>
</div>