<div id="transaction-form">
    <%= form_with(model: current_user.transactions.new, url: transactions_path, method: "post") do |f| %>
        <%= f.hidden_field :symbol, value: key %>
        <%= f.hidden_field :price, value: price %>
        Your Cash: $ <%= number_with_precision(current_user.cash, precision: 2) %> <br>
        <% if current_user.stocks.exists?(symbol: key.upcase) %>
            You own: <%= current_user.stocks.find_by(symbol: key.upcase).quantity %><br>
        <% end %>
        Quantity:
        <%= f.number_field :quantity, max: (current_user.cash / price).floor, data: {
            controller: "transact-input"
        } %> <br>
        <%= f.submit "Buy" %>
        <% if current_user.stocks.exists?(symbol: key.upcase) %>
        <%= f.submit "Sell" %>
        <% end %>
    <% end %>
</div>