<% if user_signed_in? %>
    <br>
    You are logged in as <%= current_user.email %>
    <br>
    Your trading status is <%= current_user.approved? ? 'Enabled' : 'Disabled' %>
    <br>
    You have <%= current_user.cash %>
    <br>
    Testing Endpoint: <br>
    <%= @data %>
<% else %>
    <div class="container-fluid align-center">
        <div class="border rounded p-1">
            <%= render 'shared/loginorsignup' %>
            <%= turbo_frame_tag "login_signup_frame", src: new_user_session_path, target: :_top do %>
            hi

            <% end %>
        </div>
    </div>
<% end %>