<%= turbo_frame_tag "user_frame" do %>
    <h3>Recent Transactions</h3>

    <% @transactions.each do |transaction| %>
    <div class="d-flex justify-content-between border rounded p-2 align-items-center my-1
    <%= transaction.type == 'Buy' ? 'border-success' : 'border-danger' %>
    ">
        <span><%= transaction.type %></span>
        <span><%= transaction.quantity %></span>
        <span>$ <%= transaction.price %></span>
        <span><%= transaction.stock.symbol %></span>
        <small><%= transaction.created_at.strftime("%m/%d/%y %I:%M %p") %></small>
    </div>
    <% end %>

    <%= link_to 'Back', root_path %>
<% end %>