<%= turbo_frame_tag "user_frame" do %>
    <div class="container">
        <div class="row bgc-light-blue p-2 mb-3 rounded-bottom-5 text-center shadow-dark-blue">
            <h3 class="font-mont txtc-air txt-shadow">Recent Transactions</h3>
        </div>

        <% @transactions.each do |transaction| %>
        <div class="border rounded p-1 mb-2 bgc-air font-mont position-relative
        <%= transaction.type == 'Buy' ? 'shadow-sm-light-blue' : 'shadow-sm-dark-blue' %>
        ">
            <div class="d-flex justify-content-between align-items-center">
                <span class="badge rounded-pill p-1 px-3 txtc-air text-shadow <%= transaction.type == 'Buy' ? 'bgc-light-blue' : 'bgc-dark-blue' %>"><%= transaction.type %></span>
                <span class="font-monospace">$ <%= transaction.price %></span>
            </div>

            <div class="position-absolute top-50 start-50 translate-middle">
                <span class="fw-semibold"><%= transaction.quantity %></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <span class="ms-2 fw-bold font-mont txt-shadow"><%= transaction.stock.symbol %></span>
                <small class="smallest-boi"><%= transaction.created_at.strftime("%m/%d/%y %I:%M %p") %></small>
            </div>
        </div>
        <% end %>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <%= will_paginate @transactions, renderer: BootstrapLinkRenderer %>
    </div>
    <div class="smallest-boi text-center user-select-none">
        <%= page_entries_info @transactions %>
    </div>
<% end %>