<!DOCTYPE html>
<html>
  <head>
    <title>StockApp Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <small class="bg-dark text-white position-fixed top-0 px-2 border rounded">
    You are viewing as an Admin.
    </small>
    <main class="align-self-start mt-5 container-fluid p-1">
      <%= yield %>
    </main>
    <%= render 'shared/modal' %>
    <%= render 'shared/navbar' %>
  </body>
</html>
