<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <small class="bg-warning position-absolute top-0 px-2 border rounded">
    You are viewing as a user.
    </small>
    <% if user_signed_in? %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete,
      class: "position-absolute top-0 end-0 btn btn-outline-danger btn-sm" %>
      <main class="align-self-start mt-5 container-fluid p-1">
        <%= yield %>
      </main>
      <%= render 'shared/modal' %>
    <% else %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
