<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <main class="vh-100">
        <%= yield %>
      </main>
      <aside>
        <%= render 'shared/modal' %>
        <%= render 'shared/navbar' %>
      </aside>
    <% else %>
      <main class="p-1 vh-100">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
